@use "../../assets/styles/variables" as *;

.header{

    &__button{
        height: 40px;
        font-family: $font-body;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }
}