.items{
    display: flex;
    justify-content: center;
    padding: 20px;

    &__input {
        width: 85%;
        height: 30px;
        border-radius: 5px 0 0 5px;
    }

    &__button {
        background-color: white;
        border-radius: 0 5px 5px 0;  
    }
}